<span class="border border-secondary">

  <div class="mx-auto" style="width: 700px; padding: 50px;">

    <div class="card ">
      <div class="card-header p-3 mb-2 .bg-dark.bg-gradient">Datos de la Propiedad <i class="bi bi-house-door"></i>
      </div>
      <div class="card-body fa fa-align-center">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Torre</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Torre" required="true">
            <div class="valid-feedback">

            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apartamento</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Apartamento" required="true">
            <div class="valid-feedback">

            </div>

          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Matricula Inmobilaria</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="..." required="true">
            <div class="valid-feedback">

            </div>

          </div>



        </form>

      </div>
      <div class="card-header">
        Datos del Propietario
        <i class="bi bi-person"></i></div>
      <div class="card-body fa fa-align-center">
        <form class="row g-3 needs-validation" novalidate>
          <div class="col-md-4">
            <label for="validationCustom01" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Ingrese el Nombre"
              required="true">
            <div class="valid-feedback">
              Looks good!
            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Apellido</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Ingrese el Apellido"
              required="true">
            <div class="valid-feedback">

            </div>

          </div>
          <div class="col-md-4">
            <label for="validationCustom02" class="form-label">Ocupación</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Ocupacion" required="true">
            <div class="valid-feedback">

            </div>

          </div>
          <div class="col-md-5">
            <label for="validationCustomUsername" class="form-label">Correo Electronico</label>
            <div class="input-group has-validation">
              <span class="input-group-text" id="inputGroupPrepend">@</span>
              <input type="text" class="form-control" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                placeholder="alguien@example.com" required="true">
              <div class="invalid-feedback">

              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label for="validationCustom03" class="form-label">Ciudad</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder=" Ciudad" required="true">
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom03" class="form-label">Departamento</label>
            <input type="text" class="form-control" id="validationCustom03" placeholder="Departamento" required="true">
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom04" class="form-label">Genero</label>
            <select class="form-select" id="validationCustom04" required>
              <option selected disabled value="">Seleccione el Genero</option>
              <option>Masculino</option>
              <option>Femenino</option>
            </select>
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom05" class="form-label">Teléfono</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Telefono" required="true">
            <div class="invalid-feedback">

            </div>
          </div>
          <div class="col-md-4">
            <label for="validationCustom05" class="form-label">Celular</label>
            <input type="text" class="form-control" id="validationCustom05" placeholder="Celular" required="true">
            <div class="invalid-feedback">

            </div>
          </div>

          <div class="col-12  mx-auto" style="width:150px; padding: 20px;">
            <button class="btn btn-primary btn-lg" type="submit">Enviar</button>
          </div>
        </form>

      </div>
    </div>

  </div>

</span>
